<nav id="top" class="navbar navbar-dark navbar-expand-sm bg-dark">
    <ul class="navbar-nav" style="list-style-type: none;">
        <li class="nav-item"><a class="nav-link" href="../index.html">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="../html/midterm.html">Cascades National Park Bootstrap Responsive Project</a></li>
        <li class="nav-item"><a class="nav-link" href="../html/webresources.html">Web Resources</a></p></li>
    </ul>
</nav>
<div class="container-fluid">
        <div class="col-sm-12">
            <h2 id="purpose">Crunchyroll</h2>
            <p>
                    Crunchyroll is an American distributor, publisher, and licensing company focused on streaming anime, manga, and drama. Founded in 2006 by a group of University of California, Berkeley graduates, Crunchyroll's distribution channel and partnership program delivers content to over 35 million online community members worldwide. Crunchyroll is a subsidiary of Otter Media, which is a subsidiary of AT&T's WarnerMedia. Crunchyroll has offices in San Francisco, Los Angeles, Chișinău and Tokyo, and is a member of the Association of Japanese Animations (AJA).

                    Crunchyroll offers over 900 anime shows, more than 200 Asian dramas to users, and 50 manga titles, although not all programming is available worldwide due to licensing restrictions. In February 2017, Crunchyroll passed one million paid subscribers. Crunchyroll also selects some anime titles for release on Blu-ray/DVD through its distribution partners (Funimation in the United States, Anime Limited in the United Kingdom).
                    <a href="https://en.wikipedia.org/wiki/Crunchyroll" target="_blank">Source</a>
                <br/>
                <a href="#top">Top</a>
            </p>
            <h2 id="nav">Navigation and Structure</h2>
            <p>
                <div>
                        <img src="/images/crunchyroll.PNG" class="img-responsive" alt="Front page of Crunchyroll website" style="float:right;" />
                </div>
                I think this site suffers a bit in the navigation department. One of my biggest complaints after using this site for years is that when it comes to seeing the latest episodes they are all the way at the bottom if they are not in the simulcast lineup. Another annoyance is the featured shows list which seems to get updated very infrequently, and it's not clear what if anything is a featured show. The main purpose of the site is to show multimedia video, so anything like news, forum post updates, should, in my opinion, be placed on another page to free up valuable real estate for more video links. I just feel the layout is in desperate need of a refresh, and it should clean up a lot of the unnecessary clutter on the main page. While the site does have a help/faq link it's all the way at the bottom and very small. It's pretty clear that they are not aware of or following any of the best practices in the article.
                <br />
                <a href="#top">Top</a>
            </p>
            <h2 id="design">Design</h2>
            <p>
                This site is not responsive. Changing the width of the site makes the user have to scroll widthwise to see the content. When I try to change my user agent to a mobile one, it just redirects to a page telling you to download their mobile application. This is a clear case where a PWA (progressive web application) would have been the best thing to do here. They do have a lot of different applications for many platforms, and I wonder if using a PWA would have streamlined this overall and gave the desktop site a refresh
                <br />
                <a href="#top">Top</a>
            </p>
            <h2 id="content">Content</h2>
            <p>
                    The content here is always fresh. Because they are in the business of simultaneously showing anime shows broadcasting in Japan online, every day of the week there is typically an update of some sort. They also update the news section frequently on the front page as well. The design of the site does serve it's the purpose, but I think they can do better to organize the videos.
                    <br/>
                    <a href="#top">Top</a>
            </p>
            <h2 id="intera">Interactivity</h2>
            <p>
                The site is very easy to use if you are looking for the latest shows. For their back catalog, I think there are some improvements that could be made possible. One of the biggest problems I think is that by default the videos are shown by popularity vs alphabetical or genre. When you are looking for something that could have come out a year or two back, it can be quite frustrating to scroll endlessly down to try to look what you are looking for. Granted those options do exist, however, I typically forget about them and then start scrolling down. To me, it would appear that other people would do this too instead of using the organizational links. I suppose what I am saying here is: why make it hard? Just make it easy the first time around and let users peruse the large catalog you have easily. When it comes to the videos playback, I've never had much trouble. A few years back the video player they used was a bit weird but now it's very much like youtube with an automatic quality adjuster making for easy playback that will match the quality to your available bandwidth.
                <br/>
                <a href="#top">Top</a>
            </p>
            <h2 id="improve">Suggested Improvements</h2>
            <p>
                I've made a variety of suggestions thus far, so I won't repeat them here. Overall the site needs to be updated.
                <br/>
                <a href="#top">Top</a>
            </p>
        </div>
        <div>